<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>Changing this setting requires a restart of the application.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Language</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Language</string>
			<key>Key</key>
			<string>user_language</string>
			<key>DefaultValue</key>
			<string>6</string>
			<key>Titles</key>
			<array>
				<string>Afrikaans</string>
				<string>Alemannic</string>
				<string>Anglo-Saxon</string>
				<string>Bavarian</string>
				<string>Danish</string>
				<string>Deutsche Sprache</string>
				<string>English language</string>
				<string>Faroese</string>
				<string>North Frisian</string>
				<string>West Frisian</string>
				<string>Gothic</string>
				<string>Icelandic</string>
				<string>Ripuarian</string>
				<string>Luxembourgish</string>
				<string>Limburgish</string>
				<string>Low Saxon</string>
				<string>Dutch Low Saxon</string>
				<string>Dutch</string>
				<string>Norwegian (Nynorsk)</string>
				<string>Norwegian (Bokmål)</string>
				<string>Pennsylvania German</string>
				<string>Palatinate German </string>
				<string>Scots</string>
				<string>Basic English </string>
				<string>Saterland Frisian</string>
				<string>Swedish</string>
				<string>West Flemish</string>
				<string>Yiddish</string>
				<string>Zeelandic</string>
				<string>Aragonese</string>
				<string>Asturian</string>
				<string>Catalan</string>
				<string>Corsican</string>
				<string>Emilian-Romagnol</string>
				<string>Idioma español</string>
				<string>Extremaduran</string>
				<string>French</string>
				<string>Franco-Provençal</string>
				<string>Friulian</string>
				<string>Galician</string>
				<string>Lingua italiana</string>
				<string>Latin</string>
				<string>Ladino</string>
				<string>Ligurian (Romance language)</string>
				<string>Lombard</string>
				<string>Mirandese</string>
				<string>Neapolitan</string>
				<string>Norman</string>
				<string>Occitan</string>
				<string>Picard</string>
				<string>Língua portuguesa</string>
				<string>Piedmontese</string>
				<string>Romanian</string>
				<string>Aromanian</string>
				<string>Romansh</string>
				<string>Tarantino</string>
				<string>Sardinian</string>
				<string>Sicilian</string>
				<string>Venetian</string>
				<string>Walloon</string>
				<string>Belarusian</string>
				<string>Belarusian (Taraškievica)</string>
				<string>Bulgarian</string>
				<string>Bosnian</string>
				<string>Czech</string>
				<string>Kashubian</string>
				<string>Old Church Slavonic</string>
				<string>Lower Sorbian</string>
				<string>Croatian</string>
				<string>Upper Sorbian</string>
				<string>Macedonian</string>
				<string>Polish</string>
				<string>Russian</string>
				<string>Rusyn</string>
				<string>Serbo-Croatian</string>
				<string>Slovenian</string>
				<string>Serbian</string>
				<string>Slovak</string>
				<string>Silesian</string>
				<string>Ukrainian</string>
				<string>Central Bicolano</string>
				<string>Cebuano</string>
				<string>Ilokano</string>
				<string>Pangasinan</string>
				<string>Kapampangan</string>
				<string>Tagalog</string>
				<string>Waray</string>
				<string>Khmer</string>
				<string>Vietnamese</string>
				<string>Japanese</string>
				<string>Acehnese</string>
				<string>Banyumasan</string>
				<string>Buginese</string>
				<string>Banjar</string>
				<string>Chamorro</string>
				<string>Indonesian</string>
				<string>Javanese</string>
				<string>Minangkabau</string>
				<string>Malay</string>
				<string>Sundanese</string>
				<string>Min Dong</string>
				<string>Gan</string>
				<string>Hakka</string>
				<string>Wu</string>
				<string>Chinese</string>
				<string>Classical Chinese</string>
				<string>Min Nan</string>
				<string>Cantonese</string>
				<string>Azerbaijani</string>
				<string>Southern Azerbaijani </string>
				<string>Bashkir</string>
				<string>Crimean Tatar</string>
				<string>Chuvash</string>
				<string>Gagauz</string>
				<string>Karakalpak</string>
				<string>Kazakh</string>
				<string>Karachay-Balkar</string>
				<string>Кыргызча</string>
				<string>Sakha</string>
				<string>Turkmen</string>
				<string>Turkish</string>
				<string>Tatar</string>
				<string>Tuvan</string>
				<string>Uyghur</string>
				<string>Uzbek</string>
				<string>Arabic</string>
				<string>Hebrew</string>
				<string>Amharic</string>
				<string>Egyptian Arabic</string>
				<string>Maltese</string>
				<string>Aramaic</string>
				<string>Tigrinya</string>
				<string>Kurdish (Sorani)</string>
				<string>Zazaki</string>
				<string>Persian</string>
				<string>Gilaki</string>
				<string>Northern Luri </string>
				<string>Kurdish (Kurmanji)</string>
				<string>Mazandarani</string>
				<string>Ossetian</string>
				<string>Pashto</string>
				<string>Tajik</string>
				<string>Finnish</string>
				<string>Estonian</string>
				<string>Northern Sami</string>
				<string>Hill Mari</string>
				<string>Võro</string>
				<string>Komi</string>
				<string>Komi-Permyak</string>
				<string>Udmurt</string>
				<string>Meadow Mari</string>
				<string>Vepsian</string>
				<string>Erzya</string>
				<string>Moksha</string>
				<string>Assamese</string>
				<string>Bishnupriya Manipuri</string>
				<string>Bihari</string>
				<string>Bengali</string>
				<string>Divehi</string>
				<string>Konkani </string>
				<string>Gujarati</string>
				<string>Hindi</string>
				<string>Fiji Hindi</string>
				<string>Marathi</string>
				<string>Kashmiri</string>
				<string>Nepali</string>
				<string>Oriya</string>
				<string>Eastern Punjabi</string>
				<string>Pali</string>
				<string>Western Punjabi</string>
				<string>Romani</string>
				<string>Maithili</string>
				<string>Sanskrit</string>
				<string>Sindhi</string>
				<string>Sinhalese</string>
				<string>Urdu </string>
				<string>Esperanto</string>
				<string>Interlingua</string>
				<string>Interlingue</string>
				<string>Ido</string>
				<string>Lojban</string>
				<string>Novial</string>
				<string>Volapük</string>
				<string>Korean</string>
				<string>Hungarian</string>
				<string>Lithuanian</string>
				<string>Latgalian</string>
				<string>Latvian</string>
				<string>Samogitian</string>
				<string>Basque</string>
				<string>Kannada</string>
				<string>Malayalam</string>
				<string>Tamil</string>
				<string>Telugu</string>
				<string>Breton</string>
				<string>Welsh</string>
				<string>Irish</string>
				<string>Scottish Gaelic</string>
				<string>Manx</string>
				<string>Cornish</string>
				<string>Armenian</string>
				<string>Standard Tibetan</string>
				<string>Dzongkha</string>
				<string>Burmese</string>
				<string>Newar</string>
				<string>Greek</string>
				<string>Pontic</string>
				<string>Georgian</string>
				<string>Mingrelian </string>
				<string>Lao</string>
				<string>Thai</string>
				<string>Zhuang</string>
				<string>Avar</string>
				<string>Chechen</string>
				<string>Lezgian</string>
				<string>Lak</string>
				<string>Malagasy</string>
				<string>Haitian Creole language</string>
				<string>Papiamentu</string>
				<string>Chavacano</string>
				<string>Albanian</string>
				<string>Kongo</string>
				<string>Kikuyu</string>
				<string>Lingala </string>
				<string>Luganda</string>
				<string>Northern Sotho</string>
				<string>Chichewa</string>
				<string>Kirundi</string>
				<string>Kinyarwanda</string>
				<string>Shona</string>
				<string>Swati</string>
				<string>Swahili </string>
				<string>Tswana</string>
				<string>Sesotho</string>
				<string>Tsonga</string>
				<string>Tumbuka</string>
				<string>Venda</string>
				<string>Xhosa</string>
				<string>Zulu</string>
				<string>Yoruba</string>
				<string>Quechua</string>
				<string>Buryat</string>
				<string>Mongolian</string>
				<string>Kalmyk</string>
				<string>Hawaiian</string>
				<string>Maori</string>
				<string>Samoan</string>
				<string>Tongan</string>
				<string>Tahitian</string>
				<string>Nahuatl</string>
				<string>Oromo</string>
				<string>Somali</string>
				<string>Aymara</string>
				<string>Bislama</string>
				<string>Norfolk</string>
				<string>Sranan</string>
				<string>Tok Pisin</string>
				<string>Guarani </string>
				<string>Navajo</string>
				<string>Abkhazian</string>
				<string>Kabardian</string>
				<string>Kabyle</string>
				<string>Inupiak</string>
				<string>Inuktitut</string>
				<string>Greenlandic</string>
				<string>Hausa</string>
				<string>Tetum</string>
				<string>Nauruan</string>
				<string>Fula</string>
				<string>Wolof</string>
				<string>Akan</string>
				<string>Ewe</string>
				<string>Twi</string>
				<string>Igbo</string>
				<string>Cheyenne</string>
				<string>Cree</string>
				<string>Cherokee</string>
				<string>Bambara</string>
				<string>Fijian</string>
				<string>Sango </string>
				<string>Afar</string>
				<string>Herero</string>
				<string>Hiri Motu</string>
				<string>Kanuri</string>
				<string>Muscogee</string>
				<string>Ndonga</string>
				<string>Kuanyama</string>
				<string>Adyghe</string>
				<string>Choctaw</string>
				<string>Marshallese </string>
				<string>Nuosu</string>
				<string>Moldovan</string>
				<string>Jamaican Patois</string>
				<string>Tulu</string>
				<string>Livvi-Karelian</string>
				<string>Ilonggo</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>18</string>
				<string>19</string>
				<string>20</string>
				<string>21</string>
				<string>22</string>
				<string>23</string>
				<string>24</string>
				<string>25</string>
				<string>26</string>
				<string>27</string>
				<string>28</string>
				<string>29</string>
				<string>30</string>
				<string>31</string>
				<string>32</string>
				<string>33</string>
				<string>34</string>
				<string>35</string>
				<string>36</string>
				<string>37</string>
				<string>38</string>
				<string>39</string>
				<string>40</string>
				<string>41</string>
				<string>42</string>
				<string>43</string>
				<string>44</string>
				<string>45</string>
				<string>46</string>
				<string>47</string>
				<string>48</string>
				<string>49</string>
				<string>50</string>
				<string>51</string>
				<string>52</string>
				<string>53</string>
				<string>54</string>
				<string>55</string>
				<string>56</string>
				<string>57</string>
				<string>58</string>
				<string>59</string>
				<string>60</string>
				<string>61</string>
				<string>62</string>
				<string>63</string>
				<string>64</string>
				<string>65</string>
				<string>66</string>
				<string>67</string>
				<string>68</string>
				<string>69</string>
				<string>70</string>
				<string>71</string>
				<string>72</string>
				<string>73</string>
				<string>74</string>
				<string>75</string>
				<string>76</string>
				<string>77</string>
				<string>78</string>
				<string>79</string>
				<string>80</string>
				<string>81</string>
				<string>82</string>
				<string>83</string>
				<string>84</string>
				<string>85</string>
				<string>86</string>
				<string>87</string>
				<string>88</string>
				<string>89</string>
				<string>90</string>
				<string>91</string>
				<string>92</string>
				<string>93</string>
				<string>94</string>
				<string>95</string>
				<string>96</string>
				<string>97</string>
				<string>98</string>
				<string>99</string>
				<string>100</string>
				<string>101</string>
				<string>102</string>
				<string>103</string>
				<string>104</string>
				<string>105</string>
				<string>106</string>
				<string>107</string>
				<string>108</string>
				<string>109</string>
				<string>110</string>
				<string>111</string>
				<string>112</string>
				<string>113</string>
				<string>114</string>
				<string>115</string>
				<string>116</string>
				<string>117</string>
				<string>118</string>
				<string>119</string>
				<string>120</string>
				<string>121</string>
				<string>122</string>
				<string>123</string>
				<string>124</string>
				<string>125</string>
				<string>126</string>
				<string>127</string>
				<string>128</string>
				<string>129</string>
				<string>130</string>
				<string>131</string>
				<string>132</string>
				<string>133</string>
				<string>134</string>
				<string>135</string>
				<string>136</string>
				<string>137</string>
				<string>138</string>
				<string>139</string>
				<string>140</string>
				<string>141</string>
				<string>142</string>
				<string>143</string>
				<string>144</string>
				<string>145</string>
				<string>146</string>
				<string>147</string>
				<string>148</string>
				<string>149</string>
				<string>150</string>
				<string>151</string>
				<string>152</string>
				<string>153</string>
				<string>154</string>
				<string>155</string>
				<string>156</string>
				<string>157</string>
				<string>158</string>
				<string>159</string>
				<string>160</string>
				<string>161</string>
				<string>162</string>
				<string>163</string>
				<string>164</string>
				<string>165</string>
				<string>166</string>
				<string>167</string>
				<string>168</string>
				<string>169</string>
				<string>170</string>
				<string>171</string>
				<string>172</string>
				<string>173</string>
				<string>174</string>
				<string>175</string>
				<string>176</string>
				<string>177</string>
				<string>178</string>
				<string>179</string>
				<string>180</string>
				<string>181</string>
				<string>182</string>
				<string>183</string>
				<string>184</string>
				<string>185</string>
				<string>186</string>
				<string>187</string>
				<string>188</string>
				<string>189</string>
				<string>190</string>
				<string>191</string>
				<string>192</string>
				<string>193</string>
				<string>194</string>
				<string>195</string>
				<string>196</string>
				<string>197</string>
				<string>198</string>
				<string>199</string>
				<string>200</string>
				<string>201</string>
				<string>202</string>
				<string>203</string>
				<string>204</string>
				<string>205</string>
				<string>206</string>
				<string>207</string>
				<string>208</string>
				<string>209</string>
				<string>210</string>
				<string>211</string>
				<string>212</string>
				<string>213</string>
				<string>214</string>
				<string>215</string>
				<string>216</string>
				<string>217</string>
				<string>218</string>
				<string>219</string>
				<string>220</string>
				<string>221</string>
				<string>222</string>
				<string>223</string>
				<string>224</string>
				<string>225</string>
				<string>226</string>
				<string>227</string>
				<string>228</string>
				<string>229</string>
				<string>230</string>
				<string>231</string>
				<string>232</string>
				<string>233</string>
				<string>234</string>
				<string>235</string>
				<string>236</string>
				<string>237</string>
				<string>238</string>
				<string>239</string>
				<string>240</string>
				<string>241</string>
				<string>242</string>
				<string>243</string>
				<string>244</string>
				<string>245</string>
				<string>246</string>
				<string>247</string>
				<string>248</string>
				<string>249</string>
				<string>250</string>
				<string>251</string>
				<string>252</string>
				<string>253</string>
				<string>254</string>
				<string>255</string>
				<string>256</string>
				<string>257</string>
				<string>258</string>
				<string>259</string>
				<string>260</string>
				<string>261</string>
				<string>262</string>
				<string>263</string>
				<string>264</string>
				<string>265</string>
				<string>266</string>
				<string>267</string>
				<string>268</string>
				<string>269</string>
				<string>270</string>
				<string>271</string>
				<string>272</string>
				<string>273</string>
				<string>274</string>
				<string>275</string>
				<string>276</string>
				<string>277</string>
				<string>278</string>
				<string>279</string>
				<string>280</string>
				<string>281</string>
				<string>282</string>
				<string>283</string>
				<string>284</string>
				<string>285</string>
				<string>286</string>
				<string>287</string>
				<string>288</string>
				<string>289</string>
				<string>290</string>
				<string>291</string>
				<string>292</string>
				<string>293</string>
				<string>294</string>
				<string>295</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
